.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
  }
  

  .alig{
      margin:30px 50px;
  }

  .s{
    margin-bottom: 15px;
    background-color: green;
    color: white;
    font-weight: 500;
    width:20%;
    padding:10px;
  }