
<div class="s" *ngIf="success==true">Add Successfully</div>

<button class="btn btn-success" routerLink='/'>Back</button>

<h2 class="alig">Add New student</h2>


<form   class="alig"name="addStudent" #Student="ngForm" (ngSubmit)="addStudent(Student)" >
   
    <div class="form-group "  >
        <mat-form-field   class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input ngModel name="name" #name="ngModel" matInput required>
          </mat-form-field>
      </div>
      <div class="form-group"  >
       
        <mat-form-field   class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input  ngModel name="email" #email="ngModel" matInput required>
          </mat-form-field>
      </div>
 

    <div class="form-group">
        <mat-form-field  class="example-full-width"  appearance="fill">
            <mat-label>ID</mat-label>
            <input  ngModel name="ID" #ID="ngModel" required matInput>
          </mat-form-field>
    </div>

 
    
    <div class="form-group">
        <mat-form-field  class="example-full-width"  appearance="fill">
            <mat-label>Section</mat-label>
            <mat-select  required ngModel name="section" #section="ngModel">
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>

            </mat-select>
          </mat-form-field>
    </div>


    <div class="form-group">
        <mat-form-field class="example-full-width" >
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(fruit)">
                {{fruit.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New fruit..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
    </div>
       <div class="form-group">
        <mat-radio-group aria-label="Select an option" ngModel name="gender" #gender="ngModel">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
       </div>
    <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input ngModel name="date" #date="ngModel" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    
   
    <div class="form-group s" *ngIf="success==true">Add Successfully</div>
    <div class="form-group"><button  type="submit" class="btn btn-primary">Submit</button></div>

  </form>


  
